<div class="jumbotron text-center" [style.background-color]="this.color1">
    <h1 class="display-4">CSS3 Gradient Generator</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni nam atque enim temporibus! Quidem
        hic molestiae corporis possimus aut doloribus voluptates vel enim iusto earum aperiam, officiis tempore? Ipsum,
        praesentium?</p>
    <p>{{color1}}</p>
    <div class="jumbotron-content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-2">
                    <div class="form-group">
                        <input type="color" name="color1" [(ngModel)]="color1" class="form-control">
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <input type="color" name="color2" class="form-control">
                    </div>
                </div>
            </div>
        </div>


    </div>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, eaque quis deleniti officia nam quos
        exercitationem recusandae laborum rem atque delectus non maxime est vel aliquid, neque consequatur corporis ut.
    </p>
    <p class="lead">
        <a href="#" class="btn btn-primary">Learn more</a>
    </p>
</div>