.jumbotron{
  color: #fff;
  height: 500px;
  position: relative;
  background-image: url('../../assets/back.jpg');
  background-size: cover;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.jumbotron-content{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}